version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "composer"
    directories:
      - "/tools/cs-fixer"
      - "/tools/infection"
      - "/tools/phpbench"
      - "/tools/phpstan"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"